.main-content, .content-body {
    position: relative;
    min-height: 60vh;
}

.custom-card {
    background-color: #ffffff;
}

@media only screen and (min-width: 768px) {
    .categories-link {
        display: none
    }
}

@media only screen and (max-width: 768px) {
    .categories-link {
        display: block
    }
}