{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block local_styles %}
{% endblock %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card w-100">
            <div class="card-body">
                <h2>Rango</h2>
                <p>{{ description }}</p>
                <div>
                    <p>You have visited this site {{ visits }} 
                    {% if visits == 1 %}
                        time
                    {% else %}
                        times
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}