{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block local_styles %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}category_page.css">
{% endblock %}

{% block title %}
    Add Category
{% endblock %}

{% block content %}
    <div>
        {% if category %}
            <h1>{{ category.name }}</h1>
            {% if pages %}
                <ul>
                    {% for page in pages %}
                        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>No pages currentlyin category.</strong>
            {% endif %}
            <div>
                <a href="/rango_app/add_page/{{ category.slug }}" class="navbar-link">
                    Add a Page
                </a>
            </div>
        {% else %}
                The specified directory does not exist
        {% endif %}
    </div>
{% endblock %}