{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block local_styles%}
    <link rel="stylesheet" href="{{ MEDIA_URL }}home.css">
{% endblock %}
{% block title %}
    Home
{% endblock %}

{% block content %}
    <p>Hello this is from an HTML</p>
    <p>안녕하세용!!!</p>
    <a href="{{ MEDIA_URL }}about.html">About</a>
    {% if boldmessage %}
        <div>{{ boldmessage }}</div>
    {% endif %}
    {% if categories %}
        <div class="categories">
            <ul>
                {% for category in categories %}
                <li>
                    <div class="category">
                        <p class="name">{{ category.name }}</p>
                        <p class="views">Views: {{ category.views }}</p>
                        <p class="likes">Categories: {{ category.likes }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="leaderboards">
        <div class="leaderboard">
            <h1>Top Categories</h1>
            {% if top_categories %}
                {% for category in top_categories %}
                <div class="card">
                    <a href="/rango_app/category/{{ category.slug }}/">
                        {{ category.name }}
                    </a>
                </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="leaderboard">
            <h1>Top Pages</h1>
            {% if top_pages %}
                {% for page in top_pages %}
                    <a href="{{ page.url }}">
                        <div class="card">{{ page.title }}</div>
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}