{% extends 'rango/base.html' %}
{% load staticfiles %}
{% load rango_template_tags %}

{% block local_styles %}
{% endblock %}

{% block title %}
    User Profiles
{% endblock %}

{% block content %}
    <div class="jumbotron p-4 gray-on-dark">
        <div class="container">
            <h1 class="jumbotron-heading">User Profiles</h1>
        </div>
    </div>
    <input type="search" class="form-control ds-input"
        id="search-profile" placeholder="Find Profile...">
    <div class="container mt-3">
        <div class="row" id="list-profiles">
            {% get_profile_list %}
        </div>
    </div>
{% endblock %}