{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block local_styles %}
{% endblock %}

{% block title %}
    User Profiles
{% endblock %}

{% block content %}
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">User Profiles</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% if userprofile_list %}
                {% for listuser in userprofile_list %}
                    <div class="list-group-item d-flex justify-content-between w-50">
                        <img src="{{ MEDIA_URL }}{{ listuser.picture }}" 
                            width="50"
                            height="50">
                        <h4 class="list-group-item-heading">
                            <a href="{% url 'rango:profile' listuser.user.username %}">
                                {{ listuser.user.username }}
                            </a>
                        </h4>
                    </div>
                {% endfor %}
            {% else %}
                <p>There are no users for the site yet.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}