{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block local_styles %}
{% endblock %}

{% block title %}
    Registration - Step 2
{% endblock %}

{% block content %}
    <div class="jumbotron p-4 gray-on-dark">
        <div class="container">
            <h1 class="jumbotron-heading">Registration - Step 2</h1>
            <div class="row">
                <form method="post" action="." enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}